<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>monokle | home</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/monokle.css">
    <!-- JS -->
    <script type="text/javascript" src="/underscore/underscore.js"></script>
    <script type="text/javascript" src="/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/app.js"></script>
    <script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/user">monokle.</a>
    </div>

    <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false" style="height: 1px;">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <ul class="dropdown-menu" role="menu">
            <li><a href="/user/favorites/list">Favorite Articles</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
    <div class="jumbotron">
        <div class="container text-center">
            <h1> Welcome to monokle.</h1>
            <button type="button" class="btn btn-xs btn-info" data-toggle="collapse" data-target="#instr">Get Started</button>
            <div id="instr" class="collapse">
                <p>Choose the stories you want to read, then go to your favorites to see them!</p>
                </p>
            </div>
        </div>
    </div>
    <!-- where article template renders -->
    <div id="bodyWrapper">
    <div id="artCon">
    </div>
</body>
<!-- template which renders news stories to page from fetch -->
<script type="text/template" id="articleTemp">
    <div class="artCon row">
        <div class="col-md-6 col-md-offset-3">
            <div class="article">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <%= title %>
                    </div>
                    <div class="panel-body">  
                        <div><%= description %></div>
                    </div>
                    <div class="text-center">
                        <button id="favorite" data-title='<%= title %>' data-link='<%= link%>' class="favorite btn btn-xs btn-primary" onClick="makeFav(this)">Keep This</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/template" id="nameTemp">
<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= email %><span class="caret"></span></a>
</script>
</html>