<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>monokle</title>
    <!-- CSS -->
    <link rel="stylesheet" href="stylesheets/styles.css">
    <!-- JS -->
    <script type="text/javascript" src="/underscore/underscore.js"></script>
    <script type="text/javascript" src="/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/app.js"></script>
</head>
<body>
 <div id="artCon">
 </div>
</body>
<script type="text/template" id="articleTemp">
    <p><%= title %></p>
    <p><%= link %></p>
</script>

</html>